body
{
	overflow-x: hidden;
}

@font-face {

font-family: americorps;

src: url(../fonts/americorps.ttf) format(‘truetype’);

}
@font-face {

font-family: Helvetica-Neue-LT-Std-35-Thin_22514;

src: url(../fonts/Helvetica-Neue-LT-Std-35-Thin_22514.ttf) format(‘truetype’);

}
@font-face {

font-family: Helvetica-Neue-LT-Std-55-Roman_22526;

src: url(../fonts/Helvetica-Neue-LT-Std-55-Roman_22526.ttf) format(‘truetype’);

}
@font-face {

font-family: HelveticaNeueLTStd-Lt;

src: url(../fonts/HelveticaNeueLTStd-Lt.ttf) format(‘truetype’);

}

/*Quitar el fcous del botón*/

input[type=button], 
    textarea, select , 
    input[type=email], 
    input[type=tel], 
    input[type=search],
    button{
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
     
    }
     
    input[type=button]:focus, 
    textarea:focus, 
    select:focus, 
    input[type=email]:focus, 
    input[type=tel]:focus, 
    input[type=search]:focus,
    button:focus {
      
    }

/*.header
{
	background-image: url('../imgs/header-img.jpg');
	height: 500px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}*/

.font-blanca-helvetica
{
	color: #fff;
	font-family: HelveticaNeueLTStd-Lt;
}

.dispplayinline
{
	display: inline-flex;
}

.contenido-header
{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.slider
{
	position: relative;
	width: 100%;
}

#img-slider1
{
	height: 700px;
	background:url(../imgs/header-img1.jpg);
	background-size: cover;
}

#img-slider2
{
	height: 700px;
	background:url(../imgs/header-img2.jpg);
	background-size: cover;
}

#img-slider3
{
	height: 700px;
	background:url(../imgs/header-img3.jpg);
	background-size: cover;
}
.logo
{
	
	width: 250px;
	position: fixed;
	height: 70px;
	background-repeat: no-repeat;
	top: 20px;
	left: 20px;
}

.btn-micuenta
{
	position: fixed;
	display: inline;
	float: right;
	right: 20px;
	top: 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	font-family: HelveticaNeueLTStd-Lt;
	letter-spacing: 2px;
}

.btn-micuenta:hover
{
	color: #E51616;
	text-decoration: none;
}

.icono-micuenta
{
	color: #E51616;
	font-size: 20px;
	text-transform: uppercase;
	display: inline;

}

.menu
{
    background-color: #14151A;
   
    position: relative;
    border-radius: 38.5px;
    width: 850px;
    text-align: center;
    
   

}

.menu a
{
	color: #fff;
	text-decoration: none;
	font-family: HelveticaNeueLTStd-Lt;
	letter-spacing: 2px;
	font-size: 13.5px;

	
}

.menu a:hover
{
	color: #E51616;
	text-decoration: none;
	
}

.redsocial
{
	display: inline-block;
    width: 51px;
    height: 51px;
}

.red-social-bloque
{
	position: relative;
    float: right;
    display: inline-grid;
    margin-right: 20px;
    top: -625px;
}

.texto-header
{
	position: relative;
	top: 135px;
}

#registra-factura
{
	text-align: center;
    top: 130px;
    position: relative;
}

.subtitle-1
{
	text-transform: uppercase;
	color: #fff;
	font-family: HelveticaNeueLTStd-Lt;
	letter-spacing: 5px;
	margin-bottom: -4px;

	margin: auto;

}

.title-1
{
	text-transform: uppercase;
	color: #fff;
	font-family: americorps;
	font-size: 65px;
	text-align: center;
	margin: auto;
}

/*.rnd-rojo
{
	text-transform: uppercase;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 15px;
	background-color: #E51616;
	color: #fff;
	border:0px solid;
	border-radius: 38.5px;
	padding:10px;
	text-align: center;
	width: 300px;
	text-decoration: none;
	position: relative;
	


}*/

.btn-rojos
{
	width: 300px;

}

.btn-amort
{
	width: 730px;

}






.arrowed {
	position: relative;
    margin: 0 20px 20px 0;
   
    display: inline;
    margin-left: -65px;
	
}

.arrowed div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}

.arrow-3 {
	    height: 0px;
    width: 1px;
    border: 4.5px solid;
    border-color: white white transparent transparent;
    transform: rotate(45deg);
}

.flecha-row
{
	   
    top: 330px;
    position: relative;
   
    margin-right: 0 auto;
    text-align: center;
}

.flechas
{
	width: 25px;
    height: 25px;
}


/*NOSOTROS*/

.nosotros
{
	background:url(../../tema/imgs/nosotros.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

.nosotros-title
{
	text-transform: uppercase;
	color: #fff;
	font-family: americorps;
	font-size: 45px;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.parrafo-nosotros
{
	margin-top: 60px;
}

.parrafos
{

	color: #fff;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 15px;
	text-align: center;
	margin: auto;
	
}

.recuadro-nosotros 
{
	width: 365px;
	height: 296px;
	background: rgba(171, 194, 172, 0.04);
	margin: 47px;
	border-spacing: 5px;

}

.borde-rojo
{
	border: 1px solid;
	border-color: #E51616;
}

.catalogo
{
	background: url('../../tema/imgs/svg/catalogo1.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.punto-venta
{
	background: url('../../tema/imgs/svg/puntoventa4.svg');
	background-size: contain;
	background-repeat: no-repeat;
}


.info-tecnica
{
	background: url('../../tema/imgs/svg/infotecnica1.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.margin-40
{
	margin:15px;
}

.subtitle-amortiguador
{
	text-transform: uppercase;
	color: #fff;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 40px;
	text-align: center;
	margin: auto;
	letter-spacing: 5px;
	/*margin-top: 170px;*/

}

.subtitle-3
{
	text-transform: uppercase;
	color: #fff;
	font-family: americorps;
	font-size: 50px;
	text-align: center;
	margin: auto;
	
}



.amortiguadores
{
	background:url(../../tema/imgs/amortiguadores.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

/*#img-amortiguador-3seccion
{
	text-align: center;
	width: 315px;
	min-height: 315px;
	float: right;
}*/


/*Amortiguadores cuarta seccion*/

.amortiguadores2
{
	background:url(../../tema/imgs/nosotros.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	padding-bottom: 40px;
}



.amortiguadores2-title
{
	text-transform: uppercase;
	color: #fff;
	font-family: americorps;
	font-size: 45px;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.recuadros-tercera-seccion
{
	width: 365px;
	height: 296px;
	background: rgba(192, 194, 192, 0.17);
	margin: 47px;
	border-spacing: 5px;
	display: inline-block;
	padding: 10px;

}

.imgs-iconos-terceraseccion
{
	width: 50px;
	float: left;
}

/*imagesnes del catalogo*/

.img-amortiguador-catalogo
{
	width: 100%;
    vertical-align: middle;
    margin-top: 20px;
}

.HelveticaNeueLTStd-Lt
{
	color: #fff;
	font-family: HelveticaNeueLTStd-Lt;
	 font-size: 20px;
}

.btns-verinfo
{
	margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*contacto*/

.contacto
{
	background:url(../../tema/imgs/contacto.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	
}

.icono_contacto_footer
{
	width: 56px;
	height: 56px;
	margin-left: 40px;
	margin-bottom: 15px;
}


.p-contacto
{
	color: #fff;
    font-family: HelveticaNeueLTStd-Lt;
    margin-top: 8px;
    margin-left: 35px;

}

.p-contacto > a
{
	color: #fff !important;
	font-family: HelveticaNeueLTStd-Lt;
	text-decoration: none;
}

.input-contacto
{
	background: rgba(255, 255, 255, 0.25);
    border-color: rgb(229, 22, 22);
    border: 1px solid rgb(229,22,22);
    margin-top: 8px;
    margin-left: 35px;
    color: #fff;
    width: 90%;
    padding-left: 5px;
}

.input-contacto::-webkit-input-placeholder {
  
   color: #949699;
}
.input-contacto:-moz-placeholder {
    color: #949699;
}
.input-contacto:-ms-input-placeholder { 
    color: #949699;
}

.enviar-contacto-btn
{
	width: 115px;
    height: 100px;
    float: right;
    padding-left: 5px;
    margin-left: 35px;
   /* padding-right: 30px;*/
}

.redes-footer a
{
	padding:10px;
    
    /*position: absolute;
    transform: translate(-50%,-50%);*/
}



.catalogo-img-footer
{
	width: 56px;
	height: 56px;

	margin-left: 25px;
    margin-top: 25px;


}

.infotecnica-img-footer
{
	width: 56px;
	height: 56px;
	margin-left: 25px;
    margin-top: 25px;
	
}

.inline-custom-footer
{
	display: inline;
	
}

#logopixel {
    width: 65px;
    margin-top: 9px;
    margin-bottom: 8px;
    margin-left: 5px;
    display: inline-block;
}

.txt-center
{
 text-align:center;
}

.footer-pixel
{
	width: 100%;
	background-color: #000;
	height: auto;
}

.footer-redessociales
{
	background-color: #262933;
	height: auto;

}















































